<script>
    $(document).ready(function() {
        $.getJSON('http://localhost:8080/api/users/signedUser', function(jd) {
            if (jd.roleId == 2) {
                $('#aboutUserTableRole').html("ADMIN USER");
            }
            else {
                $('#aboutUserTableRole').html("USER");
            }
            $('#aboutUserTableId').html(jd.id);
            $('#aboutUserTableName').html(jd.name);
            $('#aboutUserTableSurname').html(jd.surname);
            $('#aboutUserTableAge').html(jd.age);
            $('#aboutUserTableUsername').html(jd.username);
        });
    });
</script>


<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Age</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
    </tr>
    </thead>
    <tbody>
    <td id="aboutUserTableId">id</td>
    <td id="aboutUserTableName">name</td>
    <td id="aboutUserTableSurname">surname</td>
    <td id="aboutUserTableAge">age</td>
    <td id="aboutUserTableUsername">username</td>
    <td id="aboutUserTableRole">role</td>
    </tbody>
</table>