<h5>Admin panel</h5>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="users-table-tab" data-toggle="tab" href="#users-table" role="tab" aria-controls="users-table" aria-selected="true">Users table</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="new-user-tab" data-toggle="tab" href="#new-user" role="tab" aria-controls="new=user" aria-selected="false">New User</a>
    </li>
</ul>

<div class="tab-content  mt-3" id="myTabContent">
    <div class="tab-pane fade show active" id="users-table" role="tabpanel" aria-labelledby="users-table-tab">
        <h5>All users</h5>
        <div th:replace="allUsers.html">...</div>
    </div>
    <div class="tab-pane fade" id="new-user" role="tabpanel" aria-labelledby="new-user-tab">
        <h5>Add new user</h5>
        <div th:replace="new.html">...</div>
    </div>
</div>