<!DOCTYPE html>
<html>
<head>
    <script src="/deleteUser.js"></script>
</head>
<body>

<!-- Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel"
     aria-hidden="true"
     style="font-weight:bold">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align:center;">
                <div class="mx-auto" style="width: 300px;">
                    <label for="DeleteId">ID</label>
                    <input type="text" class="form-control" id="DeleteId" disabled>
                </div>
                <div class="mx-auto" style="width: 300px;">
                    <label for="DeleteFirstname">First name</label>
                    <input type="text" class="form-control" id="DeleteFirstname" disabled>
                </div>
                <div class="mx-auto" style="width: 300px;">
                    <label for="DeleteLastname">Last name</label>
                    <input type="text" class="form-control" id="DeleteLastname" disabled>
                </div>
                <div class="mx-auto" style="width: 300px;">
                    <label for="DeleteAge">Age</label>
                    <input type="text" class="form-control" id="DeleteAge" disabled>
                </div>
                <div class="mx-auto" style="width: 300px;">
                    <label for="DeleteEmail">Email</label>
                    <input type="email" class="form-control" id="DeleteEmail" disabled>
                </div>
                <div class="mx-auto" style="width: 300px;">
                    <label>Role</label>
                    <select class="custom-select" size="2" disabled>
                        <option id="isAdminOption">ADMIN</option>
                        <option>USER</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger" data-dismiss="modal" id="deleteButton">Delete</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>



