<!DOCTYPE html>
<html>
<head>
    <script src="/editUser.js"></script>
</head>
<body>

<!-- Modal-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="EditModalLabel" aria-hidden="true"
     style="font-weight:bold">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditModalLabel">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align:center;">
                <div class="mx-auto" style="width: 300px;">
                    <label for="EditId">ID</label>
                    <input type="text" class="form-control" id="EditId" disabled>
                </div>
                <div class="mx-auto" style="width: 300px;">
                    <label for="EditFirstname">First name</label>
                    <input type="text" class="form-control" id="EditFirstname" required>
                </div>
                <div class="mx-auto" style="width: 300px;">
                    <label for="EditLastname">Last name</label>
                    <input type="text" class="form-control" id="EditLastname" required>
                </div>
                <div class="mx-auto" style="width: 300px;">
                    <label for="EditAge">Age</label>
                    <input type="text" class="form-control" id="EditAge" required>
                </div>
                <div class="mx-auto" style="width: 300px;">
                    <label for="EditEmail">Email</label>
                    <input type="email" class="form-control" id="EditEmail" autocomplete="new-password" required>
                </div>
                <div class="mx-auto" style="width: 300px;">
                    <label for="EditPassword">Password</label>
                    <input type="password" class="form-control" id="EditPassword" autocomplete="new-password">
                </div>
                <div class="mx-auto" style="width: 300px;">
                    <label for="EditRoleId">Role</label>
                    <select class="custom-select" size="2" id="EditRoleId">
                        <option value="2">ADMIN</option>
                        <option value="1">USER</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" data-dismiss="modal" id="editButton">Edit</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>



